<%= partial('html') %>
<head>
  <%= partial('head', {
    resource: 'products'
  }) %>
</head>
<%= partial('body') %>
  <%= partial('organisms/header') %>
  <%= partial('molecules/photoswipe') %>

  <main class="main" id="__main" data-import="product">
    <div class="container product py-1 py-sm-2 py-lg-4">
      <% if (pages.products.top) { %>
        <section class="rounded p-3">
          <%= md.render(pages.products.top) %>
        </section>
      <% } %>
<div class="_ecom-el" data-type="product">
  <div v-bind:class="'prod-' + body.sku" v-if="body.visible">
    <ul>
      <li v-for="picture in body.pictures">
        <span v-if="picture.big">
          <img v-if="picture.zoom" v-bind:src="picture.big.url" v-bind:alt="picture.big.alt"
            v-bind:data-zoom="picture.zoom.url" />
          <img v-else v-bind:src="picture.big.url" v-bind:alt="picture.big.alt" />
        </span>
      </li>
    </ul>
    <a v-bind:href="body.slug">
      <h1> {{ name() }} </h1>
    </a>
    <p class="price-block">
      <span v-if="onPromotion()">
        {{ body.currency_symbol }}
        <strong class="price"> {{ formatMoney(body.price) }} </strong>
        <span class="base-price"> {{ formatMoney(body.base_price) }} </span>
      </span>
      <span v-else>
        {{ body.currency_symbol }} <strong class="price"> {{ formatMoney(price()) }} </strong>
      </span>
    </p>
    <div v-if="body.available">
      <button v-if="inStock()" class="buy"> Buy </button>
      <div class="no-stock" v-else> Out of stock </div>
    </div>
    <div class="description">
      {{ body.body_html }}
    </div>
  </div>
</div>
<% if (pages.products.related.related_on) { %>
        <%= partial('organisms/items-carousel', {
          ...pages.products.related,
          type: 'related'
        } ) %>
      <% } %>
      <% if (pages.products.recommended.recommended_on) { %>
        <%= partial('organisms/items-carousel', {
          ...pages.products.recommended,
          type: 'recommended'
        } ) %>
      <% } %>

      <div class="_ecom-el" data-type="product" data-current="true">
        <section class="product__description my-5" v-if="body.body_html">
          <p class="lead">
            <a href="#description" name="description">#</a>
            <%= dictionary.product_description %>
          </p>
          <div v-html="body.body_html" class="wysiwyg-content"></div>
        </section>

        <section class="product__specs my-5" v-if="body.specifications">
          <p class="lead">
            <a href="#specs" name="specs">#</a>
            <%= dictionary.product_specifications %>
          </p>
          <table class="table table-striped">
            <tbody>
              <tr v-for="(spec, grid) in body.specifications">
                <td class="text-muted">{{ gridTitle(grid) }}</td>
                <td>{{ specTextValue(spec, grid) }}</td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
      <% if (pages.products.add_collection.collection_on) { %>
        <%= partial('organisms/items-carousel', pages.products.add_collection ) %>
      <% } %>
      <% if (pages.products.botton) { %>
        <section class="rounded p-3">
          <%= md.render(pages.products.botton) %>
        </section>
      <% } %>
    </div>
  </main>

  <%= partial('organisms/footer') %>
</body>
</html>
